{% extends "menu.html" %}

{# set menu in active mode #}
{% block nav-create-persona %} class="active"{% endblock %}

{% block title %}GEA | Crear Persona{% endblock %}

{% block content %}
<form class="form-horizontal col-lg-6" action="." method="post">{% csrf_token %}
  <legend><i class="fa fa-user"></i> Crear Persona</legend>
  <fieldset>
    <div class="form-group">
      <table class="table table-condensed table-hover">
      {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary pull-right">Crear</button>
    </div>
  </fieldset>
</form>
{% endblock %}
